<ord-entity-list
  [entityName]="'Danh sách tỉnh huyện'"
  [columns]="columns"
  [data]="data"
  [totalRecordsCount]="totalRecordsCount"
  [(currentPage)]="currentPage"
  [(recordsPerPage)]="recordsPerPage"
  (addRow)="addEntity()"
  (editRow)="editEntity($event)"
  (deleteRow)="deleteEntity($event)"
>
  <!-- District Search Form -->
  <div searchForm>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <!-- Search Inputs -->
      <div class="input-container">
        <div class="input-wrapper">
          <label for="searchInput">Từ khóa tìm kiếm</label>
          <input
            id="searchInput"
            type="text"
            [formControl]="searchForm.controls.searchInput"
            placeholder="Nhập mã, tên để tìm kiếm"
          >
        </div>
        <ord-dropdown
          placeholder="Chọn tỉnh, thành phố"
          [label]="{ id: 'provinceDropdown', name: 'Chọn tỉnh, thành phố' }"
          [items]="provincesForDropdown"
          [formControl]="searchForm.controls.searchProvince"
        ></ord-dropdown>
        <ord-dropdown
          placeholder="Chọn quận, huyện tương ứng với tỉnh"
          [label]="{ id: 'districtDropdown', name: 'Chọn quận, huyện' }"
          [items]="districtsForDropdown"
          [formControl]="searchForm.controls.searchDistrict"
        ></ord-dropdown>
      </div>

      <!-- Search Buttons -->
      <div class="button-group">
        <button type="button" class="button button-reset" (click)="onResetSearch()">
          <span><i class="ti ti-reload"></i></span>
          <span>Đặt lại</span>
        </button>
        <button type="submit" class="button button-search">
          <span><i class="ti ti-search"></i></span>
          <span>Tìm kiếm</span>
        </button>
      </div>
    </form>
  </div>
</ord-entity-list>
<ord-entity-form
  *ngIf="isFormVisible"
  [title]="isFormEditing ? 'Sửa thông tin huyện' : 'Tạo huyện mới'"
  [formType]="formType"
  [formControls]="controlsToAddOrEdit"
  [formFields]="columns"
  (formSubmit)="handleSubmit($event)"
  (formCancel)="handleCancel()"
></ord-entity-form>
