<ord-entity-list
  [entityName]="'Danh sách tỉnh'"
  [columns]="columns"
  [data]="data"
  [totalRecordsCount]="totalRecordsCount"
  [(recordsPerPage)]="recordsPerPage"
  (addRow)="addEntity()"
  (editRow)="editEntity($event)"
  (deleteRow)="deleteEntity($event)"
></ord-entity-list>
<ord-entity-form
  *ngIf="isFormVisible"
  [title]="isFormEditing ? 'Sửa thông tin tỉnh' : 'Tạo tỉnh mới'"
  [formType]="formType"
  [formControls]="controlsToAddOrEdit"
  [formFields]="columns"
  (formSubmit)="handleSubmit($event)"
  (formCancel)="handleCancel()"
></ord-entity-form>
