@import "variables";

@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: $breakpoint-xs) { @content; }
  } @else if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) { @content; }
  } @else if $breakpoint == xxl {
    @media (min-width: $breakpoint-xxl) { @content; }
  }
}

@mixin input-style {
  width: 100%;
  height: 2.25rem;
  padding: 0.5rem 1.75rem 0.5rem 0.75rem;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;

  &:hover {
    background-color: $gray-200;
  }

  &:focus {
    outline-offset: 1px;
    outline: 1px solid $primary;
  }
}

@mixin button-styles(
  $bg-color,
  $text-color,
  $border-color,
  $hover-bg-color,
  $hover-text-color,
  $outline-color
) {
  min-width: 80px;
  height: 2.25rem;
  padding: 0 1rem;
  border: 1px solid $border-color;
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $bg-color;
  color: $text-color;

  &:hover,
  &:focus {
    background-color: $hover-bg-color;
    color: $hover-text-color;
    outline-offset: 1px;
    outline: 2px solid $outline-color;
  }

  &.disabled {
    opacity: 0.6;
  }
}

@mixin button-cancel() {
  .button.button-cancel {
    @include button-styles(
        $white,            // Background color
        $black,            // Text color
        $black,            // Border color
        darken($gray-500, 20%), // Hover/focus background color (dark gray)
        $white,            // Hover/focus text color
        $primary           // Outline color
    );
  }
}

@mixin button-confirm() {
  .button.button-confirm {
    @include button-styles(
        $primary,
        $white,
        $primary,
        darken($primary, 15%),
        $white,
        $primary
    );
  }
}

@mixin button-danger() {
  .button.button-danger {
    @include button-styles(
        $white,            // Background color
        $red,            // Text color
        $red,            // Border color
        darken($red, 20%), // Hover/focus background color (dark gray)
        $white,            // Hover/focus text color
        $primary           // Outline color
    )
  }
}

@mixin form-field() {
  .form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
      @include input-style;
    }

    .field-error {
      color: red;
      visibility: hidden;
      font-size: 0.875rem;
      height: 1.5rem;

      display: flex;
      align-items: center;

      .visible {
        visibility: visible;
      }
    }
  }
}
