<!-- Profile -->
<div class="profile-container">
  <!-- Profile -->
  <div class="profile">
    <!-- Profile Setting -->
    <div class="profile-setting">
      <h3>Profile Setting</h3>

      <!-- Update profile form -->
      <form [formGroup]="profileInfoForm" (ngSubmit)="onUpdateProfile()" class="update">
        <div class="form-field">
          <label for="username">Username</label>
          <input type="text" id="username" class="" formControlName="username">
        </div>
        <div class="form-field">
          <label for="email">Email</label>
          <input type="text" id="email" class="" formControlName="email">
        </div>
        <div class="form-field">
          <label for="phone-number">Phone Number</label>
          <input type="text" id="phone-number" class="" formControlName="phoneNumber">
        </div>
        <div class="form-actions">
          <button type="button" class="button button-cancel">Cancel</button>
          <button type="submit" class="button button-confirm">Update your profile</button>
        </div>
      </form>

      <!-- Delete profile form -->
      <form [formGroup]="deleteProfileForm" (ngSubmit)="onDeleteProfile()" class="delete">
        <h4>Delete you profile</h4>
        <p>Delete your profile will remove all of you information in our database. This can not ben undone.</p>
        <div class="form-actions">
          <button type="submit" class="button button-danger">Delete profile</button>
        </div>
      </form>
    </div>
  </div>
</div>
