<ord-entity-list
  [entityName]="'Danh sách tỉnh huyện xã'"
  [columns]="columns"
  [data]="data"
  [recordsPerPage]="recordsPerPage"
  (addRow)="addEntity()"
  (editRow)="editEntity($event)"
  (deleteRow)="deleteEntity($event)"
></ord-entity-list>
<ord-entity-form
  *ngIf="isFormVisible"
  [title]="isFormEditing ? 'Sửa thông tin xã' : 'Tạo xã mới'"
  [formType]="formType"
  [formControls]="controlsToAddOrEdit"
  [formFields]="columns"
  (formSubmit)="handleSubmit($event)"
  (formCancel)="handleCancel()"
></ord-entity-form>
