<ord-entity-list
  [entityName]="'Danh sách tỉnh huyện xã'"
  [columns]="columns"
  [data]="data"
  [totalRecordsCount]="totalRecordsCount"
  [(currentPage)]="currentPage"
  [(recordsPerPage)]="recordsPerPage"
  (addRow)="addEntity()"
  (editRow)="editEntity($event)"
  (deleteRow)="deleteEntity($event)"
>
  <!-- Search Inputs -->
  <div searchInputs class="input-container">
    <div class="input-wrapper">
      <label for="searchInput">Từ khóa tìm kiếm</label>
      <input
        id="searchInput"
        type="text"
        [(ngModel)]="searchInputTerm"
        placeholder="Nhập mã, tên để tìm kiếm"
      >
    </div>
    <div class="input-wrapper">
      <label for="provinceSearch">Tỉnh, thành phố</label>
      <input
        id="provinceSearch"
        type="text"
        [(ngModel)]="searchProvinceTerm"
        placeholder="Chọn tỉnh, thành phố"
      >
    </div>
    <div class="input-wrapper">
      <label for="districtSearch">Quận, huyện</label>
      <input
        id="districtSearch"
        type="text"
        [(ngModel)]="searchDistrictTerm"
        placeholder="Chọn quận, huyện"
      >
    </div>
    <div class="input-wrapper">
      <label for="communeSearch">Xã, phường</label>
      <input
        id="communeSearch"
        type="text"
        [(ngModel)]="searchDistrictTerm"
        placeholder="Chọn xã, phường"
      >
    </div>
  </div>

  <!-- Search Buttons -->
  <div searchButtons class="button-group">
    <button class="button button-reset" (click)="onResetSearch()">
      <span><i class="ti ti-reload"></i></span>
      <span>Đặt lại</span>
    </button>
    <button class="button button-search" (click)="onSearch()">
      <span><i class="ti ti-search"></i></span>
      <span>Tìm kiếm</span>
    </button>
  </div>
</ord-entity-list>
<ord-entity-form
  *ngIf="isFormVisible"
  [title]="isFormEditing ? 'Sửa thông tin xã' : 'Tạo xã mới'"
  [formType]="formType"
  [formControls]="controlsToAddOrEdit"
  [formFields]="columns"
  (formSubmit)="handleSubmit($event)"
  (formCancel)="handleCancel()"
></ord-entity-form>
