@import "styles/abstracts/variables";
@import "styles/abstracts/mixins";

.dropdown-custom {
  position: relative;
  width: 100%;

  label {
    margin-bottom: 0.25rem;
  }

  .input-container {
    width: 100%;

    input {
      @include input-style;
      padding-right: 2.25rem;
    }

    input.readonly {
      cursor: pointer;
    }

    .input-chevron {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 2.25rem;
      height: 2.25rem;
      border-left: 1px solid $input-border-color;
      border-radius: 0;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .input-chevron .ti {
      font-size: 1.25rem;
    }
  }

  .dropdown-menu-custom {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0.25rem 0;
    width: 100%;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: auto;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    z-index: 100;

    li {
      height: 2rem;
      padding: 0 1.75rem 0 0.5rem;
      cursor: pointer;

      display: flex;
      align-items: center;
    }

    li:hover {
      background-color: $secondary;
      color: $white;
    }

    li.active {
      color: $white;
      background-color: $primary;
    }
  }
}
