<div class="dropdown-custom" #dropdownContainer>
  <input
    #searchInput
    type="text"
    [readOnly]="isReadOnly"
    [placeholder]="placeholder"
    [class.disabled]="isDisabled"
    [class.readonly]="isReadOnly"
    [formControl]="searchControl"
    (input)="onSearch(searchInput.value)"
    (keydown)="onKeyDown($event)"
    (click)="onInputClick()"
  />
  <span class="input-chevron" (click)="toggleDropdownMenu()">
    <i class="ti ti-chevron-down"></i>
  </span>
  <ul class="dropdown-menu-custom" *ngIf="isDropdownOpen" #dropdownMenu>
    <li
      *ngFor="let item of filteredItems; let idx = index"
      (click)="selectItem(item, idx)"
      [class.active]="idx === activeIndex"
    >
      <span>{{ item.label }}</span>
    </li>
  </ul>
</div>
