@import "styles/abstracts/variables";
@import "styles/abstracts/mixins";

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;

  .dialog {
    background-color: $white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;

    .dialog-title {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .dialog-content {
      margin-bottom: 1.5rem;
      font-size: 1rem;
    }

    .dialog-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;

      .button {
        &.button-cancel {
          @include button-styles(
              $white,
              $black,
              $black,
              darken($gray-500, 20%),
              $white,
              $primary
          );
        }

        &.button-confirm {
          @include button-styles(
              $primary,
              $white,
              $primary,
              darken($primary, 15%),
              $white,
              $primary
          );
        }
      }
    }
  }
}
