<!-- Products Component -->
<div class="container">
  <h2>Product Management</h2>

  <!-- Add Product Button -->
  <button class="btn btn-success" (click)="onStartAddingProduct()">Add Product</button>

  <!-- Product Action Form -->
  <ord-product-form
    *ngIf="formProduct"
    [product]="formProduct"
    [isEditing]="isEditing"
    (formSubmit)="isEditing ? onUpdateProduct($event) : onAddProduct($event)"
    (cancel)="hideAndResetForm()"
  ></ord-product-form>

  <div class="product-tables">
    <!-- Product List -->
    <ord-product-list
      [products]="products"
      (onEdit)="onStartEditingProduct($event)"
      (onDelete)="onDeleteProduct($event)"
    ></ord-product-list>

    <!-- Product Category -->
    <ord-product-category
      [productCategories]="productCategories()"
      (productCategoryOnDelete)="onDeleteProductCategory($event)"
    ></ord-product-category>
  </div>
</div>
