<div class="container">
  <h2>Product Management</h2>

  <!-- Product List -->
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Sold Unit</th>
      <th>In Stock</th>
      <th>Expiry Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.soldUnit }}</td>
      <td>{{ product.inStock }}</td>
      <td>{{ product.expiryDate.toISOString().split('T')[0] }}</td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="onStartEditingProduct(product)">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="onDeleteProduct(product.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="onStartAddingProduct()">Add Product</button>

  <!-- Product Adding and Editing Form -->
  <div *ngIf="formProduct">
    <h3>{{ isEditing ? "Edit Product" : "Add Product" }}</h3>
    <form (ngSubmit)="isEditing ? onUpdateProduct() : onAddProduct()">
      <div class="form-group">
        <label for="formProductName">Name</label>
        <input
          type="text"
          id="formProductName"
          [(ngModel)]="formProduct.name"
          name="name"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="formProductCategory">Category</label>
        <input
          type="text"
          id="formProductCategory"
          [(ngModel)]="formProduct.category"
          name="category"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="formProductInStock">In Stock</label>
        <input
          id="formProductInStock"
          [(ngModel)]="formProduct.inStock"
          name="Sold units"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="formProductExpiryDate">Expiry Date</label>
        <input
          type="date"
          id="formProductExpiryDate"
          [(ngModel)]="formProduct.expiryDate.toISOString().split('T')[0]"
          name="expiryDate"
          class="form-control"
          required
        />
      </div>
      <button class="btn btn-primary" type="submit">{{ isEditing ? "Edit" : "Update" }}</button>
      <button class="btn btn-secondary" type="button" (click)="hideAndResetForm()">Cancel</button>
    </form>
  </div>
</div>
