<!--  Layout Wrapper -->
<div class="layout-wrapper">
  <!-- Layout sidebar -->
  <div class="layout-sidebar">
    <ord-sidebar
      [isSidebarVisible]="isSidebarVisible"
      [isXXLScreen]="isXXLScreen"
      (toggleSidebar)="toggleSidebar()"
    ></ord-sidebar>
  </div>

  <!-- Layout Main -->
  <div class="layout-main">
    <ord-header (toggleSidebar)="toggleSidebar()"></ord-header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <ord-footer></ord-footer>
  </div>
</div>
