<div *ngIf="!isLoginPage">
  <!--  Body Wrapper -->
  <div
    class="page-wrapper"
    id="main-wrapper"
    [attr.data-layout]="layoutType"
    [attr.data-navbarbg]="'skin6'"
    [attr.data-sidebartype]="sidebarType"
    [attr.data-sidebar-position]="sidebarPosition"
    [attr.data-header-position]="headerPosition"
  >
    <ord-sidebar [isSidebarVisible]="isSidebarVisible" [sidebarType]="sidebarType"></ord-sidebar>

    <!--  Main wrapper -->
    <div class="body-wrapper">
      <ord-header></ord-header>
      <main class="content">
        <router-outlet></router-outlet>
      </main>
      <ord-footer></ord-footer>
    </div>
  </div>
</div>

<!-- Only show login page without layout elements -->
<router-outlet></router-outlet>
