<aside
  class="left-sidebar"
  [ngClass]="{'hide-sidebar': !isXXLScreen && !isSidebarVisible}"
>
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo">
      <a href="#" class="logo-img">
        <img src="../../../assets/images/logos/dark-logo.svg" width="180" alt="Logo" />
      </a>
      <button
        class="close-btn sidebartoggler" id="sidebarCollapse"
        (click)="onToggleSidebar()"
      >
        <i class="ti ti-x"></i>
      </button>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/dashboard" routerLinkActive="active" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">PAGES</span>
        </li>

        <!-- Management Section -->
        <li class="sidebar-item has-children">
          <!-- Management Menu Title -->
          <a
            class="sidebar-link"
            aria-expanded="false"
            (click)="toggleSubmenu($event)"
          >
          <span>
            <i class="ti ti-presentation"></i>
          </span>
            <span class="hide-menu">Management</span>
            <i class="submenu-icon ti ti-chevron-right"></i>
          </a>

          <!-- Management Submenu -->
          <ul class="submenu">
            <!-- Product -->
            <li class="sidebar-item">
              <a class="sidebar-link" routerLink="/management/products" routerLinkActive="active">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Product</span>
              </a>
            </li>

            <!-- Province -->
            <li class="sidebar-item">
              <a class="sidebar-link" routerLink="/management/provinces" routerLinkActive="active">
                <span>
                  <i class="ti ti-building-fortress"></i>
                </span>
                <span class="hide-menu">Province</span>
              </a>
            </li>

            <!-- District -->
            <li class="sidebar-item">
              <a class="sidebar-link" routerLink="/management/districts" routerLinkActive="active">
                <span>
                  <i class="ti ti-building"></i>
                </span>
                <span class="hide-menu">District</span>
              </a>
            </li>

            <!-- Commune -->
            <li class="sidebar-item">
              <a class="sidebar-link" routerLink="/management/communes" routerLinkActive="active">
                <span>
                  <i class="ti ti-building-church"></i>
                </span>
                <span class="hide-menu">Commune</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- Account Section -->
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">ACCOUNT</span>
        </li>

        <!-- Profile -->
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/me" routerLinkActive="active" aria-expanded="false">
            <span>
              <i class="ti ti-user-circle"></i>
            </span>
            <span class="hide-menu">Profile</span>
          </a>
        </li>

        <!-- Register -->
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/register" routerLinkActive="active" aria-expanded="false">
            <span>
              <i class="ti ti-registered"></i>
            </span>
            <span class="hide-menu">Register</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
