@import "styles/abstracts/variables";

.entity-list {
  h2 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .search-bar-container {
    margin-bottom: 1.5rem;

    .search-bar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

      .input-group {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .input-wrapper {
          flex: 1;

          label {
            margin-bottom: 0.25rem;
          }
        }
      }

      .search-btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;

        button {
          display: flex;
          gap: 0.25rem;
          align-content: center;
          justify-content: center;
          flex-wrap: wrap;
        }
      }
    }
  }

  .table-wrapper {
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }

    th {
      color: $white;
      background-color: $primary;
      text-align: center;
    }

    .num-order {
      text-align: center;
    }

    .ti-circle-check-filled, .ti-circle-x-filled {
      display: block;
      font-size: 1.375rem;
      text-align: center;
    }

    .table-btn-group {
      display: flex;
      gap: 0.25rem;

      button {
        i {
          font-size: 1rem;
        }
      }
    }
  }
}
