<!-- Entity List -->
<div class="entity-list">
  <!-- Entity List Heading -->
  <div class="entity-list-heading">
    <h2></h2>
    <button class="btn btn-primary" (click)="onAddRow()">
      <span><i class="ti ti-plus"></i></span>
      <span>Thêm mới</span>
    </button>
  </div>

  <!-- Search Bar Container -->
  <div class="search-bar-container">
    <h2>Thông tin tìm kiếm</h2>
    <div class="search-bar">
      <!-- Search Inputs -->
      <div class="input-group">
        <div class="input-wrapper">
          <label for="searchInput">Từ khóa tìm kiếm</label>
          <input
            id="searchInput"
            type="text"
            class="form-control"
            [(ngModel)]="searchTerm"
            placeholder="Nhập mã, tên để tìm kiếm"
            (input)="onSearch()"
          >
        </div>
        <div class="input-wrapper">
          <label for="provinceSearch">Tỉnh, thành phố</label>
          <input
            id="provinceSearch"
            type="text"
            class="form-control"
            [(ngModel)]="searchTerm"
            placeholder="Chọn tỉnh, thành phố"
            (input)="onSearch()"
          >
        </div>
        <div class="input-wrapper">
          <label for="districtSearch">Quận, huyện</label>
          <input
            id="districtSearch"
            type="text"
            class="form-control"
            [(ngModel)]="searchTerm"
            placeholder="Chọn quận, huyện"
            (input)="onSearch()"
          >
        </div>
      </div>

      <!-- Search Button Group -->
      <div class="search-btn-group">
        <button class="btn btn-outline-dark">
          <span>
            <i class="ti ti-reload"></i>
          </span>
          <span>Reset</span>
        </button>
        <button class="btn btn-primary">
          <span>
            <i class="ti ti-search"></i>
          </span>
          <span>Search</span>
        </button>
      </div>
    </div>
  </div>

  <hr>

  <!-- Table Container -->
  <div class="table-container">
    <h2>{{ entityName }}</h2>

    <!-- Table -->
    <div class="table-wrapper">
      <table>
        <thead>
        <tr>
          <th>STT</th>
          <th *ngFor="let column of columns">{{ column.header }}</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of data; let i = index">
          <td class="num-order">{{ i+1 }}</td>
          <td *ngFor="let column of columns">
            <ng-container *ngIf="column.type === 'select'; else textContent">
              <i
                [ngClass]="row[column.name] ? 'ti ti-circle-check-filled' : 'ti ti-circle-x-filled'"
                [style.color]="row[column.name] ? '#089740' : '#EB3333'"
              ></i>
            </ng-container>
            <ng-template #textContent>
              {{ row[column.name] }}
            </ng-template>
          </td>
          <td>
            <div class="table-btn-group">
              <button class="button-edit" (click)="onEditRow(row)">
                <i class="ti ti-edit"></i>
              </button>
              <button class="button-delete" (click)="openDialogForDeletion(row)">
                <i class="ti ti-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="table-pagination">
      <div class="total-records">
        <span>Tổng số bản ghi:
          <span class="strong-color">{{ totalRecordsCount }}</span>
        </span>
      </div>
      <div class="pagination-actions">
        <div class="quantity-each">
          <span>Số bản ghi/trang:</span>
          <ord-dropdown
            [isReadOnly]="true"
            [isContentFit]="true"
            [items]="[{label: '10', value: 10}, {label: '20', value: 20}, {label: '50', value: 50}]"
            [formControl]="form.controls.pageSize"
          ></ord-dropdown>
        </div>
        <div class="record-index">
          <span class="strong-color">{{ firstRecordIndex }} - {{ lastRecordIndex }}</span>
          <span>bản ghi</span>
        </div>
        <div class="pagination-navigation">
          <div class="back strong-color" [class.disabled]="true" (click)="onMoveBackPage()">
            <span><i class="ti ti-chevron-left"></i></span>
          </div>
          <div class="forward strong-color" [class.disabled]="false" (click)="onMoveForwardPage()">
            <span><i class="ti ti-chevron-right"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ord-dialog
  [title]="dialogTitle"
  [isOpen]="isDialogOpen"
  (cancel)="onDialogCancel()"
  (confirm)="onDialogConfirm()"
>
  <div dialogContent>
    {{ dialogDescription }}
  </div>
</ord-dialog>
