<!-- Product Adding and Editing Form -->
<div *ngIf="formProduct">
  <h3>{{ isEditing ? "Edit Product" : "Add Product" }}</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="formProductName">Name</label>
      <input
        type="text"
        id="formProductName"
        [(ngModel)]="formProduct.name"
        name="name"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="formProductCategory">Category</label>
      <input
        type="text"
        id="formProductCategory"
        [(ngModel)]="formProduct.category"
        name="category"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="formProductInStock">In Stock</label>
      <input
        id="formProductInStock"
        [(ngModel)]="formProduct.inStock"
        name="Sold units"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="formProductExpiryDate">Expiry Date</label>
      <input
        type="date"
        id="formProductExpiryDate"
        [(ngModel)]="formProduct.expiryDate.toISOString().split('T')[0]"
        name="expiryDate"
        class="form-control"
        required
      />
    </div>
    <button class="btn btn-primary" type="submit">{{ isEditing ? "Update" : "Add" }}</button>
    <button class="btn btn-secondary" type="button" (click)="onCancel()">Cancel</button>
  </form>
</div>
