<div class="overlay">
  <div class="form-container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <h3>{{ title }}</h3>

      <div [class.flex]="title.includes('xã')">
        <div class="left-part">
          <div *ngFor="let field of formFields">
            <div
              class="form-field"
              *ngIf="(formType === 'add' && field.isAddable && field.type === 'text') || (formType === 'edit' && field.isEditable && field.type === 'text')"
            >
              <!-- Input text -->
              <label *ngIf="field.type === 'text'" [for]="field.name">{{ field.header }}</label>
              <input
                *ngIf="field.type === 'text'"
                [type]="field.type"
                [id]="field.name"
                [formControlName]="field.name"
              />
              <div class="field-error" *ngIf="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched && field.type === 'text'">
                <small>{{ field.errorMessage }}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="right-part">
          <div *ngFor="let field of formFields">
            <div
              class="form-field"
              *ngIf="(formType === 'add' && field.isAddable && field.type === 'select') || (formType === 'edit' && field.isEditable && field.type === 'select')"
            >
              <!-- Dropdown -->
              <label *ngIf="field.type === 'select'" [for]="field.name">{{ field.header }}</label>
              <ord-dropdown
                *ngIf="field.type === 'select'"
                [formControlName]="field.name"
                [isReadOnly]="true"
                [items]="field.options"
              ></ord-dropdown>
              <div class="field-error" *ngIf="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched && field.type === 'select'">
                <small>{{ field.errorMessage }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div *ngFor="let field of formFields" [class.flex]="title.includes('xã')">-->
<!--        <div-->
<!--          class="form-field"-->
<!--          *ngIf="(formType === 'add' && field.isAddable) || (formType === 'edit' && field.isEditable)"-->
<!--        >-->
<!--          &lt;!&ndash; Input text &ndash;&gt;-->
<!--          <div class="input-group">-->
<!--            <label [for]="field.name">{{ field.header }}</label>-->
<!--            <input-->
<!--              *ngIf="field.type === 'text'"-->
<!--              [type]="field.type"-->
<!--              [id]="field.name"-->
<!--              [formControlName]="field.name"-->
<!--            />-->
<!--            <div class="field-error" *ngIf="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched">-->
<!--              <small>{{ field.errorMessage }}</small>-->
<!--            </div>-->
<!--          </div>-->

<!--          &lt;!&ndash; Dropdown &ndash;&gt;-->
<!--          <div class="dropdown-group">-->
<!--            <ord-dropdown-->
<!--              *ngIf="field.type === 'select'"-->
<!--              [formControlName]="field.name"-->
<!--              [isReadOnly]="true"-->
<!--              [items]="field.options"-->
<!--            ></ord-dropdown>-->
<!--            <div class="field-error" *ngIf="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched">-->
<!--              <small>{{ field.errorMessage }}</small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div class="form-actions">
        <button type="button" class="btn btn-outline-dark" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>
