<div class="overlay">
  <div class="form-container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <h3>{{ title }}</h3>

      <div *ngFor="let field of formFields">
        <label [for]="field.field">{{ field.header }}</label>
        <input
          *ngIf="field.type === 'text'"
          [type]="field.type"
          [id]="field.field"
          [formControlName]="field.field"
        />
        <select
          *ngIf="field.type === 'select'"
          [id]="field.name"
          [formControlName]="field.name"
        >
          <option *ngFor="let option of field.options" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
        <div *ngIf="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched">
          <small>{{ field.errorMessage }}</small>
        </div>
      </div>

      <div class="form-actions">
        <button type="button" class="btn btn-outline-dark" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>
