<div class="overlay">
  <!-- Form container -->
  <div class="form-container">
    <!-- Form -->
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <h3>{{ title }}</h3>
      <!-- Form Controls container -->
      <div [class.flex]="title.includes('xã')">
        <!-- Generate left and right parts dynamically -->
        <div class="form-part" *ngFor="let part of ['text', 'select']">
          <ng-container *ngFor="let field of formFields">
            <div
              class="form-field"
              *ngIf="(formType === 'add' && field.isAddable && field.type === part) || (formType === 'edit' && field.isEditable && field.type === part)"
            >
              <label [for]="field.name">{{ field.header }}</label>
              <!-- Render input or dropdown based on field type -->
              <ng-container [ngSwitch]="field.type">
                <!-- Input text -->
                <input
                  *ngSwitchCase="'text'"
                  [type]="field.type"
                  [id]="field.name"
                  [formControlName]="field.name"
                />
                <!-- Dropdown -->
                <ord-dropdown
                  *ngSwitchCase="'select'"
                  [formControlName]="field.name"
                  [isReadOnly]="true"
                  [items]="field.options"
                ></ord-dropdown>
              </ng-container>
              <!-- Validation error -->
              <div class="field-error" [class.visible]="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched">
                <span>{{ field.errorMessage }}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- Form actions -->
      <div class="form-actions">
        <button type="button" class="btn btn-outline-dark" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>
